<main>
  <% if current_user.type == 'Teacher' %>
    <%= render 'posts/teacher_index'  %>
  <% end %>
  <% if current_user.type == 'Student' %>
    <%= render 'posts/student_index' %>
  <% end %>

</main>